<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>
            Manage <b>{{ title }}</b> by CrystalShop
          </h2>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-success" type="button" data-toggle="modal" [routerLink]="['/neworder']">
            <i class="icon-plus"></i> <span>Add New Order</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name Crystal</th>
          <th>Name Client</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            <span>{{ order.name_crystal }}</span>
          </td>
          <td>
            <span>{{ order.name_client }} </span>
          </td>
          <td>
            <span>{{ order.quantity }} </span>
          </td>
          <td>
            <a class="delete" data-toggle="modal" (click)="deleteOrders(order.id_order)"><i class="icon-trash"
                data-toggle="tooltip" title="Delete"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>