<app-navbar></app-navbar>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>{{title}}</b> by CrystalShop</h2>
          </div>
          <div class="col-sm-6">
            <button
              class="btn btn-success"
              type="button"
              data-toggle="modal"
              [routerLink]="['/newstock']"
            >
              <i class="icon-plus"></i> <span>Add New Item</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name crystal</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>
              <span>{{ item.name_crystal }}</span>
            </td>
            <td>
              <span>{{ item.quantity }} </span>
            </td>
            <td>
              <a
              class="edit" 
              data-toggle="modal" 
              [routerLink]="['edit/', item.id_stock]"
                ><i class="icon-pencil" data-toggle="tooltip" title="Edit" ></i
              ></a>
              <a
                class="delete"
                (click)="delete(item.id_stock)"
                data-toggle="modal"
                ><i class="icon-trash" data-toggle="tooltip" title="Delete"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="alert" class="alert alert-success" role="alert">
        Item deleted!
      </div>
    </div>
  </div>