<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/stock" routerLinkActive="Active">Stock</a>
    <a class="navbar-brand" href="/client" routerLinkActive="Active">Clients</a>
    <a class="navbar-brand" href="/orders">Orders</a>
</nav>
<!-- <app-stock></app-stock> -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <router-outlet></router-outlet>